.root {
  margin: 4px auto 4px auto;
  width: 50%;
  background-color: white;
  text-align: center;
}

img {
  width: 20%;
  margin-top: 2px;
}

.price-likes {
  display: flex;
  justify-content: space-between;
}

.date{
  margin-top: -2px;
  text-transform: uppercase;
  justify-content: start;
}
.details{
  display: flex;
  justify-content: end;
}

a:-webkit-any-link{
  color: black;
  text-decoration: none;
}






