<div class="root">
  <h2 [outerHTML]="myProduct.title | toBold"></h2>
  <div><img [src]="myProduct.imageUrl"></div>
  <p>{{ myProduct.description }}</p>
  <p **ngIf="myProduct.size?.length > 1">Plusieur tailles disponibles</p>
  <div class="price-likes">
    <b>{{ (myProduct.price / 100) | currency:'EUR': true : '1.1' }} </b>
    <p>
      <b [ngStyle]="{ color: myProduct.likes > 0 ? 'blue' : 'red' }">{{ myProduct.likes }} ❤ </b>
      <button (click)="onLike()">{{ myProduct.isLiked ? 'unlike' : 'like' }}</button>
    </p>
  </div>
  <div class="date"> Date : {{ myProduct.createdDate | date:'fullDate' }} </div>
</div>




